@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

$main-color1: hsl(225, 100%, 94%);
$main-color2: hsl(245, 75%, 52%);

@media (max-width: 500px) {
  body {
    background-image: url(/order-summary-component/img/pattern-background-mobile.svg);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  user-select: none;
}

body {
  background-image: url(/order-summary-component/img/pattern-background-desktop.svg);
  background-repeat: no-repeat;
}

.container {
  max-width: 360px;
  margin: 20px auto;
  border-radius: 15px;
  overflow: hidden;
  background: white;
  text-align: center;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  &__img {
    width: 100%;
  }
  .col {
    padding: 20px 40px 20px;
  }
  h1 {
    font-size: 26px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
  }
  p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    margin: 14px;
    span {
      color: hsl(223, 47%, 23%);
      font-weight: 900;
    }
  }
  .row {
    display: flex;
    align-items: center;
    background: hsl(225, 100%, 98%);
    border-radius: 10px;
    padding: 5px 20px;
    margin-bottom: 20px;
    img {
      height: 36px;
    }
    p {
      text-align: start;
    }
    a {
      margin-left: auto;
      font-size: 14px;
      color: #3829e0;
      font-weight: 700;
      transition: 0.2s;
      &:active {
        filter: opacity(50%);
        text-decoration: none;
      }
    }
  }

  button {
    display: block;
    width: 100%;
    line-height: 36px;
    border-radius: 5px;
    border: none;
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 5px;
    cursor: pointer;
  }
  .submit-btn {
    background: hsl(245, 75%, 52%);
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s;

    &:active {
      filter: opacity(60%);
    }
  }
  .cancel-btn {
    background: none;
    color: rgba(0, 0, 0, 0.6);
    width: 30%;
    text-align: center;
    margin: auto;
    transition: 0.2s;
    &:active {
      color: black;
    }
  }
}
